@import "flag-icons/css/flag-icons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#__next {
  display: contents;
}

.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
